.navbar {
    height: 18vh;
    position:fixed;
    display: flex;
    align-items: center;
    width:100vw;
    z-index:1;
}
.navbar > img {
    height:80%;
    margin:0 15% 0 5%;

}
.navChild{
    background-color: rgba(127, 128, 128,0.2);
    width:700px;
    height: 10vh;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius:20px; 
}
.links{
    border-radius:20px;
    color:white;
    padding:18px 40px;    
}
.links:hover{
    background-color:#5276A2
}
.bg{
    background-color:#5276A2
}

@media (max-width: 1080px){
    
.navbar {
    height:12vh
}
.navChild{
    width:450px;
    height:8vh
}
.links{
    font-size:0.8rem;
    padding:10px 20px 
}
}
@media (max-width: 767px){
    .navbar >img{
        height:100%
    }
    .
}